body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

header {
	background-color: #f7f7f7;
	padding-top: 1rem;
	text-align: center;
	grid-area: header;
}

header img {
	display: block;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
	transition: 0.7s;
}

nav li:hover {
	scale: 1.1;
	transition: 0.5s;
}

nav a {
	text-decoration: none;
	color: #333;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	grid-area: main;
}

.banner {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.banner .carousel-inner {
	width: 640px;
	height: 480px;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section a {
	display: block;
	margin-bottom: 20px;
}

.food {
	display: flex;
	flex-direction: row;
}

.dish {
	padding: 10px;
	text-align: center;
}

article {
	flex: 0 1 calc(33.33% - 20px);
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #eee;
	cursor: pointer;
}

article img {
	width: 100%;
	height: auto;
}

article p {
	text-align: center;
}

article:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: footer;
}

footer .left {
	flex: 0 0 20px;
}

footer .right {
	flex: 1 1 auto;
}

footer img {
	display: block;
	margin: 0 auto;
}

footer p {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.food {
		display: flex;
		flex-direction: column;
	}
}
